<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" ng-app="votacionescrApp"> <!--<![endif]-->
    <head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	<title>Votaciones 2014 | Costa Rica</title>
    	<meta name="description" content="">
    	<meta name="viewport" content="width=device-width">

    	<link rel='stylesheet' href='/stylesheets/style.css' />
    	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    	<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    	<link rel="stylesheet" href="/stylesheets/main.css">

        <!--[if lt IE 9]>
            <script src="/javascript/vendor/html5-3.6-respond-1.1.0.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <header>
            <div id="_divHeader">
                <div id="_divLogoApp"></div>
            </div>
            
            <div id="_divMainMenu" class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div id="_brandText" class="navbar-brand">Votos</div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active" onclick="changeNavbarName(this)"><a href="#">Votos</a></li>
                        <li><a href="#mivoto" onclick="changeNavbarName(this)">Mi voto</a></li>
                        <li><a href="#" onclick="changeNavbarName(this)">¿En d&oacute;nde voto?</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </header>
        
        <section>
            <div id="_divContent" class="container" ng-view >
            </div>
        </section>
        <footer>
        </footer>
        
        <script src="/javascripts/vendor/jquery-1.10.1.min.js"></script>
        <script src="/javascripts/vendor/bootstrap.min.js"></script>
        <script src="/javascripts/vendor/angular/angular.min.js"></script>
        <script src="/javascripts/vendor/angular/angular-resource.min.js"></script>
        <script src="/javascripts/vendor/angular/angular-route.min.js"></script>
        <script src="/javascripts/util.js"></script>
        <script src="/javascripts/app.js"></script>
        <script src="/javascripts/controllers.js"></script>
        <script src="/javascripts/services.js"></script>
        <script>
        	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        		g.src='//www.google-analytics.com/ga.js';
        		s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>