<div id="_votePlace" class="divPage">
    <div class="row" style="height:100%;">
        <div class="col-xs-12 col-sm-4 col-md-3 defaultColumns">
            <form role="form">
                <div class="form-group">
                    <label for="exampleInputPassword1">Centro de votaci&oacute;n</label>
                    <p class="help-block">Ingrese su n&uacute;mero de c&eacute;dula para ver su centro y mesa de votaci&oacute;n</p>
                    <input type="text" class="form-control" id="_personalID2" placeholder="C&eacute;dula sin guiones ni espacios">
                </div> 
                <button type="submit" class="btn btn-default">Ver centro de votaci&oacute;n</button> 
            </form>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 defaultColumns" style="background-color:#d7d7d7; height:100%;">
            <!-- Aqui mapa con lugar de votacion-->
        </div>
    </div>
</div>